@import "tailwindcss";

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out forwards;
}

:root {
  background-color: #242424;
}
